# Специфичные файлы проекта
kaztbu-DC1-CA.cer

# Laravel (Backend)
backend/.env
backend/vendor/
backend/storage/*.key
backend/public/storage
backend/bootstrap/cache/*
!backend/bootstrap/cache/.gitignore

# React (Frontend)
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.local

# Docker & OS
.DS_Store
Thumbs.db
*.log
docker-compose.override.yml
